.color {
    &--blue {
        color: #00cff1;
    }
    &--white {
        color: #fff;
    }
    &--black {
        color: rgb(0, 0, 0);
    }
    &--green {
        color: #24c657;
    }
    &--yellow{
        color: #eec400;
    }
    &--facebook{
        color: #3b5998;
    }
    &--twitter{
        color: #55acee;
    }
    &--instagram{
        color: #6a453b;
    }
    &--linkedin{
        color: #007ab9;
    }
    &--paragraph{
        color: rgb(87, 87, 87);
    }
    &--header{
        color: rgb(40, 40, 40);
    }
    &--dark_gray{
        color: rgb(71, 71, 71);
    }
    &--categories{
        color: rgb(87, 87, 87);
    }
}
.background_color{
    &--blue {
        background-color: #00cff1;
    }
    &--green {
        background-color: #24c657;
    }
    &--pink {
        background-color: #ff45c4;
    }
    &--orange {
        background-color: #ff9d46;
    }
    &--white {
        background-color: #fff;
    }
}