.overlay_blue{
    background-color: rgba(0, 207, 241, 0.902);
    position: absolute;
    width: 80%;
    height: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.overlay_green_1{
    background-color: rgba(36, 198, 87,0.902);
    padding: 96px 0;
}
.overlay_green_2{
    background-color: rgba(36, 198, 87,0.902);
    padding: 148px 0;
}
.overlay_green_3{
    background-color: rgba(36, 198, 87,0.902);
    height: inherit;;
}