@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@font-face {
    font-family: 'appnest';
    src:  url('../fonts/appnest.eot?2ys57g');
    src:  url('../fonts/appnest.eot?2ys57g#iefix') format('embedded-opentype'),
      url('../fonts/appnest.ttf?2ys57g') format('truetype'),
      url('../fonts/appnest.woff?2ys57g') format('woff'),
      url('../fonts/appnest.svg?2ys57g#appnest') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  [class^="app-"], [class*=" app-"] {
    font-family: 'appnest' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.app-arrow_right:before {
    content: "\e919";
}
.app-star:before {
    content: "\e901";
}
.app-twitter-with-circle:before {
    content: "\e91b";
}
.app-instagram-with-circle:before {
    content: "\e91c";
}
.app-linkedin-with-circle:before {
    content: "\e91d";
}
.app-facebook-with-circle:before {
    content: "\e91a";
}  
.app-premium:before {
    content: "\e917";
}
.app-arrow:before {
    content: "\e916";
}
.app-footer_email:before {
    content: "\e900";
}
.app-awards:before {
    content: "\e902";
}
.app-download:before {
    content: "\e903";
}
.app-happyusers:before {
    content: "\e904";
}
.app-users:before {
    content: "\e907";
}
.app-security:before {
    content: "\e906";
}
.app-retina:before {
    content: "\e905";
}
.app-support:before {
    content: "\e908";
}
.app-apple:before {
    content: "\e909";
}
.app-diamond:before {
    content: "\e90a";
}
.app-playstore:before {
    content: "\e90b";
}
.app-info_blue:before {
    content: "\e90c";
}
.app-info_green:before {
    content: "\e90d";
}
.app-info_orange:before {
    content: "\e90e";
}
.app-info_pink:before {
    content: "\e918";
}
.app-search_icon:before {
    content: "\e91e";
}
  
.border--green{
    border: 1px solid #24c657;
}
.border--black{
    border: 1px solid black;
}
.border--white{
    border: 1px solid white;
}
*:focus {
    outline: none;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    padding: 0;
}
a:hover{
    text-decoration: none;
}
li{
    list-style-type: none;
}
p{
    padding: 0;
    margin: 0;
}
.paragraph{
    font-size: 15px;
    font-family: "Raleway";
    line-height: 1.6;
}
.header{
    font-size: 36px;
    font-weight: bold;
    line-height: 1.333;
}
.poppins--font{
    font-family: 'Poppins', sans-serif;
}
.header_index{
    background: url('/app/images/header_background.png') no-repeat;
    height: 100vh;
}
.header{
    &_content{
        height: calc(100vh - 116px);
        align-items: center;
    }
    &_image{
        text-align: center;
        & img{
            max-height: 60%;
            max-width: 60%;
        }
    }
    &_text p{
        font-size: 48px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.25;   
        color: #fff;     
    }
    &_paragraph p{
        font-size: 18px;
        line-height: 1.667;
        padding: 40px 0 5px;
    }
}
.light_span{
    font-weight: 100;
}
.info{
    &_section{
        margin-top: 23px;
        background: url('/app/images/second_section_background.png') no-repeat;
        background-size: cover;
    }
    &_relative{
        position: relative;
    }
    &_items{
        position: relative;
        padding-top: 113px;
    }
    &_icon{
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 43px;
        transform: translate(-50%, -50%);
    }
    &_item_name{
        font-size: 18px;
        color: #414040;
        font-weight: bold;
        margin: 25px 0 20px;
        line-height: 0.444;          
    }
    &_item_description{
        font-size: 15px;
        margin-bottom: 140px;
        font-family: "Raleway",sans-serif;
        color: rgb(87, 87, 87);
        line-height: 1.6;
    }
}
.rounds {
    border-radius: 50%;
    position: absolute;
    width: 85px;
    height: 85px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.feature{
    &_section_phones{
        padding: 141px 0;
        img{
            max-height: 100%;
            max-width: 100%;
        }
    }
    &_elements_header{
        font-size: 18px;
        color: #414040;
        font-weight: bold;
        line-height: 0.444;
        padding: 40px 0 22px;
    }
    &_element{
        padding-bottom: 70px;
    }
    &_section_elements i{
        font-size: 43px;
    }
}
.features_heading {
    padding-top: 140px;
}
.features_paragraph{
    padding: 21px 0 71px;
}
.video{
    position: relative;
    padding: 0;
    display: flex;
    &_section{
        padding: 0 15px;
        background-color: #fbfbfb;
        &_paragraph{
            padding-top: 20px;
        }
    }
    & img{
        object-fit: cover;
        max-width: 100%;
    }
    &_play_button{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    &_left_side{
        padding: 130px 0;
    }
}
.play_button_shadow{
    border-radius: 50%;
    background-color: rgb(0, 207, 241);
    opacity: 0.2;
}
.screenshots {
    padding: 140px 0;
    & img{
        max-height: 100%;
        max-width: 100%;
    }
    &_overlay{
        position: relative;
    }
    &_header{
        &_content{
            padding-bottom: 80px;
        }
        &_paragraph{
            padding-top: 30px;
        }
    }
}
.green_section{
    background: url(/app/images/green_section_background.png) no-repeat center;
    background-size: cover;
    &_content{
        position: relative;
    }
    &_icon{
        top: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%,-50%);
        i{
            font-size: 50px;   
        }
        &_header{
            padding-top: 10px;
            font-size: 48px;
            font-weight: bold;
            line-height: 1;
        }
        &_paragraph{
            font-size: 24px;
            font-weight: 400;
        }
    }
}
.green_section_content img{
    max-width: 100%;
}
.horizontal_line{
    position: absolute;
    top: 50%;
    left: 86%;
    width: 28%;
    border-top: 1px solid white;
}
.feedback{
    padding: 134px 0;
    &_paragraph{
        padding-top: 30px;
    }
    &_list{
        padding-top: 73px;
        &_item{
            box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);   
            padding: 47px 27px;
        }
        &_name{
            font-size: 24px;
            font-weight: bold;
            padding-top: 25px;
            margin-bottom: 0;
        }
        &_job{
            font-size: 18px;
        }
        &_description{
            font-size: 18px;
            font-family: "Raleway";
            color: rgb(87, 87, 87);
            font-style: italic;
            padding: 33px 0 28px;
        }
    }
}
.price{
    &_paragraph{
        padding: 21px 0 37px;
    }
    &_price{
        font-size: 60px;
        font-weight: bold;
        line-height: 0.8;
    }
    &_name{
        font-size: 24px;
        color: rgb(87, 87, 87);
        font-weight: bold;
        line-height: 2;
        margin:0 0 34px;
    }
    &_month{
        font-size: 18px;
        color: rgb(87, 87, 87);
        line-height: 2.667;
    }
    &_table{
        &_elements{
            box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
            padding: 79px 15px 74px;
        }
        &_description{
            font-size: 18px;
            font-family: "Raleway",sans-serif;
            color: rgb(87, 87, 87);
            line-height: 2.267;          
        }
    } 
}
.advertisement{
    background-image: url(/app/images/advertisement_background.png) no-repeat center;
    margin-top: 110px;
    position: relative;
    background-size: cover;
}
.ad{
    &_section_header span{
        display: block;
    }
    &_images{
        position: absolute;
        top: 14%;
        right: 0%;
    }
    &_first_image{
        position: absolute;
        z-index: 2;
    }
    &_second_image{
        position: absolute;
        z-index: 1;
        transform: translate(50%, 18%);
    }
    &_section_paragraph{
        padding-top: 20px;
    }
}
.news_section {
    padding: 140px 0; 
}
.news_header {
    font-size: 24px;
    font-weight: bold;
    line-height: 1; }
.news_paragraph {
    padding: 30px 0 80px;
    font-size: 15px;
    font-family: "Raleway";
    color: #454545; 
}
.news_date {
    padding-top: 19px; }
.news_date span {
    font-weight: bold; }
.news_elements img {
    width: 100%;
    max-height: 100%; }
.news_texts{
    background-color: white;
    box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.1);
}
.news_content{
    padding: 38px 28px; 
}
.news_small_paragraph{
    font-size: 15px;
    font-family: "Raleway";
    color: #454545; 
    padding-top: 25px;
}
@media(max-width: 1199px){
    .horizontal_line{
        display: none;
    }
    .footer_email input{
        padding: 16px 30px;
    }
    .footer_email button{
        padding: 20px 25px;
    }
    .stroke_button{
        margin-right: 0;
    }
    .features_heading{
        padding-top: 0;
    }
    .navbar_content{
        padding-top: 0;
    }
    .header_text p{
        font-size: 24px;
    }
    .header_paragraph p{
        font-size: 13px;
    }
    .standard_buttons{
        padding-top: 15px;
    }
    .header_text{
        padding-top: 15px;
        &_image{
            margin: 0 auto;
        }
    }
    .video_left_side{
        text-align: center;
    }
    .get_the_app_button{
        padding-top: 7px;
        button{
            padding: 13px 23px;
        }
    }
    .ad_images{
        top: 30%;
        & img{
            width: 50%;
        }
    }
    .logo{
        margin-right: 150px;
    }
    .navbar_items{
        margin-right: 50px;
    }
    .recent_posts p{
        font-size: 14px;
        padding-left: 10px;
    }
    .search_input{
        font-size: 10px;
        padding: 2px 2px;
    }
    .search i{
        font-size: 10px;
        padding: 13px;
    }
}
@media(max-width: 991px){
    .ad_images{
        display: none;
    }
    .ad_second_image {
        transform: translate(24%, 18%);
    }
    .price_table_elements{
        padding: 27px 12px 58px;
    }
    .fill_sign_up_button button {
        transform: translate(-50%, 50%);
    }
    .features_content{
        text-align: center;
        margin-top: 23px;
    }
    .feature_section_phones{
        text-align: center;
        padding: 0;
    }
    .info_items{
        padding-top: 0;
    }
    .get_the_app_button{
        display: none;
    }
    .header_image{
        padding-top: 20px;
    }
    .header_text{
        padding-top: 30px;
    }
    .ad_content{
        text-align: center;
    }
    .header_content{
        padding-top: 0;
    }
    .fill_buttons button{
        padding: 6px 28px;
        font-size: 13px;
    }
    .header_image img{
        width: 60%;
    }
    .standard_buttons{
        justify-content: center;
    }
    .name_and_email>div{
        margin-bottom: 15px;
        padding: 0;
    }
}
@media(max-width:767px){
    footer{
        text-align: center;
        &_email{
            margin-right: 90px;
        }
    }
    .social_links{
        justify-content: center;
    }
    .news_elements{
        text-align: center;
        padding-top: 23px;
    }
    .price_table_elements{
        margin: 27px 0;
    }
    .feedback_list_item{
        margin: 17px 0;
    }
    .info_item_description{
        margin-bottom: 40px;
    }
    .header_content_left{
        text-align: center;
    }
    .screen_img{
        text-align: center;
        margin: 11px 0;
    }
    .overlay_blue{
        width: 60%;
    }
    .fill_submit_button{
        text-align: center;
    }
    .name_and_email>div{
        margin-bottom: 15px;
    }
    .first_line_tags,.second_line_tags{
        display: inline;
    }
    .sidebar_header{
        text-align: center;
        &_italic p{
            padding-left: 40px;
        }
    }
    .blog_header{
        height: 360px;
    }
    .nav_container{
        height: calc(360px - 116px);
    }
    .links{
        justify-content: center;
    }
}

@media(max-width: 575px){
    .footer_email{
        margin-right: 60px;
        & input{
            padding: 16px 3px;
        }
        & button{
            padding: 20px 17px;
        }
    }
    .logo{
        margin-right: 80px;
    }
}