.blog_header{
    background: url('/app/images/advertisement_background.png') no-repeat center;
    height: 560px;
    background-size: cover;
}
.nav{
  &_header{
    font-size: 48px;
    line-height: 1;
    text-align: center;
  }
  &_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(560px - 116px);
  }
  &_paragraph{
    font-size: 18px;
    line-height: 0.667;
    padding-top: 30px;
  }
}